.sizes {
	& .title{
		margin-bottom: 0;
	}
	&-wrapper{
		overflow: auto;
	}
	&-table {
		min-width: 1420px;
		& li {
			&+li {
				& ul {
					border-top: 1px solid $text-color;
				}
			}

			&:first-child {
				font-weight: bold;
				font-size: 18px;
				white-space: nowrap;
			}

			& ul {
				display: grid;
				grid-template-columns: 205px 105px 165px 110px 115px 112px 38px;
				grid-gap: 90px;

				& li {
					padding: 30px 0;
				}
			}
		}
	}
}