.simile {
	&-wrapper {
		overflow-x: auto;
	}

	&-table {
		display: flex;

		& li {
			width: 270px;
			padding-right: 60px;
			height: auto;

			& .cards-item {
				width: inherit;
			}
		}

		&.top {
			border-bottom: 1px solid $text-color;

			& li {
				padding-bottom: 30px;

				& ul {
					& li {
						padding-bottom: unset;
						border-bottom: unset;
					}
				}
			}
		}

		&.bottom {
			padding-top: 30px;

			& li {
				& ul {
					& li {
						margin: 0;

						&+li {
							margin-top: 30px;
						}

						& .button {
							margin-top: 20px;
						}
					}
				}
			}
		}



		&__menu {
			& li {
				&+li {
					margin: 15px 0 0 0;
				}

				& a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media(max-width: 576px) {
	.simile {
		&-table {
			& li {
				width: 195px;
				padding-right: 30px;
			}

			&__menu {
				& li {
					&+li {
						margin: 15px 0 0 0;
					}
				}
			}

			&.top {
				& .cards-item {
					max-width: 165px;
				}
			}

			&.top {
				border-bottom: unset;

				& .cards-item {
					max-width: 165px;
				}

				& li {
					border-bottom: 1px solid $text-color;
				}
			}

			&.bottom {
				& li {
					& ul {
						& li {
							height: 45px;

							&+li {
								margin-top: 15px;
							}

							& .button {
								margin: 0;
								height: 100%;
								padding: 10px 0;

								&.short {
									display: block;
								}

								&.long {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}