.wishlist {
	&-cards__block {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(165px, 210px));
		grid-gap: 30px;
	}
}

@media(max-width: 490px) {
	.wishlist {
		&-cards__block {
			grid-template-columns: repeat(2, minmax(130px, 210px));
			grid-gap: 15px;
		}
	}
}