.contacts {
  &-page {
    & .form {
      margin: 100px 0;
    }
  }

  &-info {
    margin-top: 40px;
  }

  &-block {
    display: flex;
    flex-wrap: wrap;
    font-family: $roboto;

    &__address {
      max-width: 430px;
      width: 100%;
      margin-right: 40px;
      margin-bottom: 40px;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;

      &-block {
        display: flex;
        flex-direction: column;
        margin-right: 65px;
        margin-bottom: 40px;

        & a {
          font-weight: bold;
          color: $text-color;

          &+a {
            margin-top: 15px;
          }
        }
      }

      &-social {
        display: flex;
        margin-bottom: 40px;

        & li {
          width: 50px;

          &+li {
            margin-left: 20px;
          }
        }
      }
    }
  }

}

#contact-map {
  width: 100%;
  height: 600px;
}

@media(max-width: 1200px) {
  .contacts {
    &-page {
      & .form {
        margin: 80px 0;
      }
    }
  }
}

@media(max-width: 576px){
  #contact-map {
    height: 400px;
  }
}