.cart {
	&-grid {
		display: grid;
		grid-template-columns: 430px 1fr 1fr 1fr 1fr;
		grid-column-gap: 30px;
	}

	&-header {
		margin-bottom: 30px;

		& ul {
			& li {
				display: flex;
				align-items: center;

				& .count {
					margin-right: 5px;
				}

				&:first-child {
					font-size: 27px;
					font-weight: bold;
					text-transform: uppercase;
				}

				&:last-child {
					justify-content: flex-end;
				}
			}
		}

		& .button {
			&.mobile {
				display: none;
			}
		}
	}

	&-body {
		border-top: 1px solid $text-color;
		border-bottom: 1px solid $text-color;

		&__item {
			padding: 30px 0;

			&+.cart-body__item {
				border-top: 1px solid $text-color;
			}

			&-photo {
				display: flex;

				& .cards-item__info {
					&-price {
						display: none;
					}

					& p {
						margin-left: 15px;
					}
				}
			}

			& .product-page__right-body__size {
				display: grid;
				grid-template-columns: repeat(3, min-content);
				grid-template-rows: repeat(2, min-content);
				grid-gap: 15px;

				& li {
					&+li {
						margin: 0;
					}
				}
			}

			& .product-page__right-body {
				margin: 0;
			}

			&-size {
				& p {
					display: none;
				}
			}

			&-count {

				& .count-block {
					display: flex;

					& input {
						margin: 0 10px;
						width: 20px;
						padding: 0;
						border: none;
						color: $text-color;
						text-align: center;
					}

					& .minus,
					& .plus {
						@include flex-center;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						border: 1px solid $text-color;
						cursor: pointer;

						& span,
						& span::before {
							position: relative;
							display: block;
							width: 8px;
							height: 1px;
							background: $text-color;
						}
					}

					& .plus {
						& span {
							&::before {
								content: '';
								position: absolute;
								transform: rotate(90deg);
							}
						}
					}
				}
			}

			&-last {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-end;

				& .main-popular__slider-price {
					text-align: right;
				}

				& .clear-cart {
					display: flex;
					align-items: center;
					color: #CFCFCF;

					& svg {
						margin-right: 15px;
					}
				}
			}
		}

		&__mobile {
			display: none;
		}
	}

	&-side {
		@include flex-between;
		flex-wrap: wrap;

		& .button {
			margin-top: 30px;

			&.prev {
				margin-right: 30px;
			}

			&.next {
				width: 212px;
			}
		}

		& form {
			margin-top: 30px;
			display: flex;
			align-items: center;

			& label {
				margin-right: 15px;
				font-weight: bold;
			}

			& input {
				width: 333px;
			}
		}

		&__right {
			display: flex;
			align-items: center;

			&-sum {
				margin-top: 30px;
				margin-right: 30px;
				display: flex;
				align-items: center;
				font-size: 27px;
				text-transform: uppercase;
				font-weight: bold;
				white-space: nowrap;

				& .main-popular__slider-price {
					margin-left: 5px;

					& .price {
						font-size: 27px;

						&.new {
							display: none;
						}

						&.old {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.cart {
		&-grid {
			grid-template-columns: repeat(2, minmax(165px, 210px));
			column-gap: 15px;
		}

		&-header {
			& ul {
				margin-bottom: 15px;

				& li {
					&:not(:first-child) {
						display: none;
					}
				}
			}

			& .button {
				&.mobile {
					display: block;
				}
			}
		}

		&-body {
			border: none;
			display: grid;
			grid-template-columns: repeat(auto-fit, 445px);
			gap: 30px;

			&__item {
				padding: 0 0 15px 0;

				&-photo {
					grid-row: span 4;
					display: block;

					& .cards-item__info {
						&-price {
							display: block;
						}

						& p {
							margin-left: unset;
						}
					}
				}

				& .product-page__right-body {
					&__size {
						margin-bottom: 15px;
						gap: 5px;
					}

					& .color-product {
						&__block {
							margin-bottom: 0;

							& li {
								&+li {
									margin-left: 5px;
								}
							}
						}
					}
				}

				&-size {
					& p {
						display: block;
						margin-bottom: 15px;
					}
				}

				&-count {
					display: none;
				}

				&-last {
					display: none;

					& .main-popular__slider-price {
						display: none;
					}
				}
			}

			&__mobile {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: $gray_e5;

				& .cart {
					&-body {
						&__item {

							&-count,
							&-last {
								height: inherit;
								width: 100%;
								@include flex-center;
							}

							&-count {

								& .minus,
								& .plus {
									width: 30px;
									height: 30px;

									& span,
									& span::before {
										width: 12px;
									}
								}

								& input {
									font-size: 18px;
									background: inherit;
								}
							}

							&-last {

								& a {
									display: flex;
									align-items: center;
									color: $text-color;

									& svg {
										& path {
											fill: $text-color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.cart {
		&-header {
			& .button {
				&.mobile {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		&-side {
			flex-direction: column;

			&__right {
				&-sum {
					display: flex;
					align-items: flex-end;
					order: 1;
					margin: 30px 0 25px 0;
					width: 100%;
					font-size: unset;
					line-height: 0.8;
					text-transform: none;
				}
			}

			& form {
				order: 2;
				width: 100%;
				flex-direction: column;
				align-items: start;
				margin: 0 0 30px 0;

				& label {
					margin-bottom: 15px;
				}

				& input {
					width: 100%;
				}
			}

			& .button {
				@include flex-center &.next {
					order: 3;
					width: 100%;
					max-width: 100%;
					margin: 0 0 30px 0;
				}

				&.prev {
					order: 4;
					width: 100%;
					max-width: 100%;
					margin: 0;
				}
			}
		}
	}
}

@media(max-width: 480px) {
	.cart {
		&-body {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

			&__mobile {
				margin: 0 -15px;
			}
		}
	}
}