.confirm {
	// & .title {
	// 	margin-bottom: 30px;
	// }

	&-side {
		margin-bottom: 35px;
		display: grid;
		grid-template-columns: 333px 1fr;
		grid-column-gap: 197px;
	}

	&-left {

		&__form {
			& .control {
				&+.control {
					margin-top: 30px;
				}

				& label {
					display: block;
					font-weight: bold;
					margin-bottom: 15px;
				}

				& textarea {
					height: 120px;
				}
			}

		}
	}

	&-right {
		&__block {
			&.get {
				margin-bottom: 80px;
			}

			& .get,
			& .pay {
				&-block {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(210px, 255px));
					grid-gap: 30px;

					& li {
						height: 120px;

						&:not(:checked)>input {
							display: none;
						}

						& input:checked+label {
							background: $gray;
						}
					}
				}

				&-item {
					height: 100%;
					padding: 0 30px;
					display: flex;
					align-items: center;
					border: 2px solid $text-color;
					cursor: pointer;

					&__text {
						margin-left: 30px;

						& p {
							margin-top: 5xp;
						}
					}
				}
			}

			& .pay {
				&-block {
					grid-template-columns: repeat(auto-fit, minmax(265px, 285px));
				}
			}
		}
	}
}

@media(max-width: 992px) {
	.confirm {
		&-side {
			margin-bottom: 0;
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			gap: 45px;
		}

		& .get,
		& .pay {
			&-block {
				grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
				grid-gap: 15px;

				& li {
					height: 80px;

					& label {

						// padding: 15px 50px;
						& svg {
							min-width: 50px;
							max-width: 50px;
							height: 45px;
						}
					}
				}
			}
		}

		&-right {
			&__block {
				&.get {
					margin-bottom: 45px;
				}
			}
		}
	}
}