.succsess {
	margin-top: 60px;

	& .container {
		@include flex-center;
	}

	&-block {
		max-width: 425px;
		width: 100%;
		display: flex;

		&__img {
			margin: 40px 30px 0 0;
		}

		&__text {
			width: inherit;
		}

		&__title {
			margin-bottom: 15px;
			font-size: 45px;
			text-transform: uppercase;

			& .yellow {
				display: block;
			}
		}

		&__subtitle {
			max-width: 225px;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: bold;
		} 

		& .button {
			width: 100%;
			margin-bottom: 15px;
		}

		&__redirect {
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media(max-width: 992px) {
	.succsess {
		&-block {
			align-items: center;
			flex-direction: column;
			text-align: center;

			&__img {
				margin: 0 0 30px 0;
			}

			&__number {
				margin-bottom: 10px;
			}

			&__title {
				margin-bottom: 30px;
				font-size: 24px;
			}

			&__subtitle {
				margin: 0 auto 60px auto;
				font-size: unset;
			}

			& .button {
				max-width: 345px;
			}
		}
	}
}