.footer {
  border-top: 2px solid $gray;
  padding: 30px 0;

  &-block {
    display: flex;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    &__menu {
      margin-right: 104px;

      & li {
        &+li {
          margin-top: 15px;
        }

        a {
          color: $text-color;
        }
      }
    }

    &__contact {
      margin-right: 109px;

      & li {
        &+li {
          margin-top: 15px;
        }

        a {
          font-weight: bold;
        }
      }

      &-social {
        display: flex;
        align-items: center;

        & li {
          &+li {
            margin-top: 0;
            margin-left: 10px;
          }
        }
      }
    }

    &__form {
      max-width: 575px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      &-row {
        width: inherit;
      }

      & h3 {
        font-size: 15px;
        margin-bottom: 16px;
      }

      & form {
        display: flex;
        align-items: center;

        & .input-block {
          max-width: 333px;
          width: 100%;
          margin-right: 30px;
        }
      }
    }
  }
}

@media(max-width: 1366px) {
  .footer {
    &-block {
      flex-wrap: wrap;

      &__menu {
        margin-right: 60px;
      }

      &__contact {
        margin-right: 60px;
      }
    }
  }
}

@media(max-width: 1200px) {
  .footer {
    &-block {
      & ul {
        margin-bottom: 30px;
      }

      &__form {
        &-row {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .footer {
    &-block {
      flex-direction: column-reverse;

      &__menu {
        display: none;
      }

      &__form {
        max-width: 100%;
        margin-bottom: 30px;

        &-row {
          margin: 0;

          & form {
            flex-direction: column;

            & .input-block {
              max-width: unset;
              margin: 0 0 15px 0;
            }

            & .button {
              max-width: 100%;
            }
          }

          &~a {
            display: none;
          }
        }
      }

      &__contact {
        margin: 0 !important;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 10px;
        row-gap: 10px;

        & li {
          &+li {
            margin: 0;
          }

          & ul {
            margin: 0;
          }
        }

        &-social {
          & li {
            &+li {
              margin-left: 10px;
            }
          }
        }

      }
    }
  }
}