.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #E5E5E5;
  background: white;

  & a {
    font-size: 18px;
    font-weight: bold;
    transition: .2s;

    &:hover {
      color: $yellow;
    }
  }

  & .container {
    &-fluid {
      @include flex-between
    }
  }

  &-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &-left,
  &-right {
    & li {
      display: inline-block;

      &+li {
        margin-left: 40px;
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;

    &__button {
      height: 26px;
      display: flex;
      align-items: center;
      cursor: pointer;

      & span,
      & span::before,
      & span::after {
        display: block;
        width: 48px;
        height: 2px;
        background: $text-color;
      }

      & span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: - 10px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: - 10px;
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    & li {
      & a {
        & img {
          max-width: 27px;
        }
      }
    }

    &__call {
      text-decoration: underline;
    }
  }

  &-menu {
    z-index: 100;
    position: fixed;
    top: 82px;
    left: -100%;
    max-width: 500px;
    width: 100%;
    height: calc(100vh - 82px);
    padding: 80px;
    display: flex;
    flex-direction: column;
    background: white;
    transition: .4s;

    &.active {
      left: 0;
    }

    & li {
      &+li {
        margin-left: 0;
        margin-top: 30px;
      }

      & a {
        text-transform: uppercase;
        font-size: 27px;
      }
    }
  }
}

@media(max-width: 1366px) {
  .header {

    &-left,
    &-right {
      & li {
        & a {
          font-size: unset;

          & img {
            max-width: 20px;
          }
        }

        &+li {
          margin-left: 20px;
        }
      }
    }

    &-menu {
      & li {
        &+li {
          margin-left: 0;
        }

        & a {
          font-size: 24px;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .header {
    &-left {
      & li {
        &:not(:first-child) {
          display: none;
        }
      }

      &__button {

        & span,
        & span::before,
        & span::after {
          width: 40px;
        }
      }
    }

    &-right {
      & li {
        &:not(:last-child) {
          display: none;
        }
      }
    }

    &-menu {
      & li {
        display: inline-block !important;
      }
    }
  }
}

@media(max-width: 576px) {
  .header {
    &-menu {
      padding: 80px 40px;
    }
  }
}