.modal {
	z-index: 200;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: 0.8s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&-bg{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(0deg, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3));
		transition: 0.8s;
	}

	&-block {
		z-index: 1;
		position: relative;
		max-width: 500px;
		padding: 60px 40px;
		text-align: center;
		background: $text-color;

		& .title {
			margin-bottom: 20px;
			color: white;
		}

		& .subtitle {
			margin-bottom: 40px;
			text-transform: none;
		}

		& .form-item {
			flex-direction: column;

			& div {
				max-width: 350px;
				width: 100%;
				margin: 0 auto;

				&+div {
					margin-top: 20px;
				}

				& input {
					width: 100%;
				}
			}
		}

		&__close {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 32px;
			color: white;
			cursor: pointer;
		}
	}
}