.catalog {

	& .title {
		&-sort {
			@include flex-between;

			&__btn {
				display: none;
				margin-bottom: 10px;
			}
		}
	}

	& .sort {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		&-item {
			position: relative;
			display: flex;
			align-items: center;

			&+.sort-item {
				margin-left: 30px;
			}

			&:first-child {
				color: $text-gray;
			}

			&:last-child {
				& .sort-clear {
					text-decoration: underline;
					color: $text-gray;
				}
			}


			&__header {
				cursor: pointer;
				transition: .3s;
				padding: 0 10px;
				border-radius: 3px;

				& svg {
					margin-left: 5px;
					transition: .3s;
					fill: $text-color;
				}

				&.active {
					background: $text-color;
					color: white;

					& svg {
						transform: rotate(180deg);
						fill: white;
					}
				}
			}

			&__body {
				z-index: 10;
				display: none;
				position: absolute;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
				padding: 30px;
				background: white;
				box-shadow: 0 1px 8px rgba(0, 0, 0, .25);

				& ul {
					& li {
						white-space: nowrap;
						cursor: pointer;

						&+li {
							margin-top: 10px;
						}

						&:first-child {
							font-weight: bold;
						}
					}
				}

				&.size {
					& ul {
						display: grid;
						grid-template-columns: repeat(4, 1fr);
						grid-gap: 15px;
						text-align: center;

						& li {
							&+li {
								margin-top: 0;
							}
						}
					}
				}

				&.price {
					& form {
						& div {
							display: flex;
							align-items: center;
							justify-content: space-between;

							&+div {
								margin-top: 15px;
							}

							& label {
								margin-right: 15px;
								font-weight: normal;
							}

							& input {
								width: 140px;
							}
						}

						& .button {
							margin-top: 15px;
						}
					}
				}
			}
		}
	}

	&-cards {
		&__block {
			margin-bottom: 30px;
			display: grid;
			grid-template-columns: repeat(auto-fit, 210px);
			grid-gap: 30px;
		}

		& .button {
			@include flex-center;
			margin: 0 auto;

			& svg {
				margin-left: 10px;
				fill: white;
			}
		}
	}
}

@media(max-width: 992px) {
	.catalog {
		& .container {
			position: relative;
		}

		& .sort {
			z-index: 1;
			position: absolute;
			right: -100%;
			padding: 30px;
			flex-direction: column;
			align-items: start;
			background: white;
			transition: .3s;

			&.active {
				right: 0;
			}

			&-item {
				display: block;


				&+.sort-item {
					margin: 15px 0 0 0;
				}

				&__body {
					position: unset;
					transform: unset;
					box-shadow: unset;
					padding: 15px 15px 0 15px;
				}
			}
		}

		& .title {
			&-sort {
				&__btn {
					display: block;
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.catalog {
		&-cards {
			& .show-btn {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

@media(max-width: 567px) {
	.catalog {
		&-cards {
			&__block {
				grid-template-columns: repeat(auto-fit, 165px);
				gap: 15px;
			}
		}
	}
}