.collect {

	// менюха сверху
	&-menu {
		padding-top: 0;

		& .container {
			display: flex;
			align-items: center;

			& .slider {
				&-small {
					position: unset;
					transform: unset;
				}
			}
		}

		&__slider {
			max-width: 1380px;

			&-item {
				display: flex !important;
				align-items: center;
				background: $gray;

				&.collect-menu__slider-item {
					margin-left: 30px;
				}

				& h4 {
					padding: 15px;
				}
			}
		}
	}

	// баннеры
	&-banner {
		&__block {
			display: grid;
			grid-template-columns: 1fr 330px;
			gap: 30px;

			&-section {
				&:first-child {
					grid-row: span 2;

					& img {
						height: 695px;
						object-fit: cover;
					}
				}
			}

			&-item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&__img {
					display: flex;
				}
			}
		}

		&__sell {
			padding-bottom: 0;

			&-content {
				position: relative;
				height: 635px;
				@include flex-center;

				& img {
					position: absolute;
					@include zero;
					object-fit: cover;
					height: 100%;
					width: 100%;
				}

				&::before {
					z-index: 1;
					content: '';
					position: absolute;
					@include zero;
					background: $text-color;
					opacity: 0.6;
				}

				&__mobile {
					display: none;
				}

				&__text {
					z-index: 2;
					text-align: center;

					& h2 {
						margin-bottom: 40px;
						font-size: 45px;
						text-transform: uppercase;
						color: white;

						& .yellow {
							display: block;
						}
					}

					& .button {
						border-color: white;
						background: transparent;

						&:hover {
							background: $text-color;
							border-color: $text-color;
						}
					}
				}
			}
		}
	}

	// блок с формой
	&-form {
		&__block {
			display: flex;
			justify-content: space-between;

			&-text {
				max-width: 450px;
				margin-right: 30px;
			}

			&-form {
				width: 100%;

				& form {
					display: flex;
					justify-content: space-between;

					& .form-block {
						width: 100%;

						&+.form-block {
							margin-left: 30px;
						}

						&:last-child {
							max-width: 212px;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
						}
					}

					& .input-block {
						& div {
							&+div {
								margin-top: 15px;
							}
						}
					}

					& textarea {
						height: 100%;
					}

				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.collect-form {
		&__block {
			flex-direction: column;

			&-text {
				margin: 0 0 15px 0;
			}

			&-form {
				max-width: 450px;

				& form {
					flex-direction: column;

					& .form-block {
						width: 100%;

						&+.form-block {
							margin: 15px 0 0 0;
						}

						&:last-child {
							max-width: 100%;
							display: flex;
							flex-direction: column-reverse;

							& .button {
								max-width: 100%;
								margin-bottom: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.collect {
		&-banner {
			&__block {
				grid-template-columns: 1fr;

				&-section {
					&:first-child {
						grid-row: unset;

						& img {
							height: unset;
						}
					}

					& img {
						width: 100%;
						object-fit: cover;
						object-position: top;
					}

				}

				&-item {
					&__img {
						height: 320px;
					}
				}
			}

			&__sell {
				&-content {
					height: 320px;

					&__desk {
						display: none;
					}

					&__mobile {
						display: block;
					}

					&__text {
						& h2 {
							font-size: 24px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}

		&-form {
			&__block {
				&-form {
					max-width: 100%;
				}
			}
		}
	}
}

@media(max-width: 576px) {
	& .main-popular__slider {
		& .slider-item {
			max-width: 165px;

			&+.slider-item {
				margin: 0 0 0 10px !important
			}
		}
	}

}