@font-face {
  font-family: 'Bebas Neue Pro ExpandedLight';
  src: url('../fonts/../fonts/BebasNeuePro-ExpandedLight.eot');
  src: local('Bebas Neue Pro ExpandedLight'), local('BebasNeuePro-ExpandedLight'),
    url('../fonts/../fonts/BebasNeuePro-ExpandedLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/../fonts/BebasNeuePro-ExpandedLight.woff2') format('woff2'),
    url('../fonts/../fonts/BebasNeuePro-ExpandedLight.woff') format('woff'),
    url('../fonts/../fonts/BebasNeuePro-ExpandedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Medium';
  src: local('PT Root UI Medium'), local('PTRootUI-Medium'), url('../fonts/Ptrootuimedium.woff2') format('woff2'), url('../fonts/Ptrootuimedium.woff') format('woff'), url('../fonts/Ptrootuimedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Light';
  src: local('PT Root UI Light'), local('PTRootUI-Light'), url('../fonts/Ptrootuilight.woff2') format('woff2'), url('../fonts/Ptrootuilight.woff') format('woff'), url('../fonts/Ptrootuilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Regular';
  src: local('PT Root UI'), local('PTRootUI-Regular'), url('../fonts/Ptrootui.woff2') format('woff2'), url('../fonts/Ptrootui.woff') format('woff'), url('../fonts/Ptrootui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Bold';
  src: local('PT Root UI Bold'), local('PTRootUI-Bold'), url('../fonts/Ptrootuibold.woff2') format('woff2'), url('../fonts/Ptrootuibold.woff') format('woff'), url('../fonts/Ptrootuibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@mixin light {
  font-family: 'PT-Light', sans-serif;
}

@mixin reg {
  font-family: 'PT-Regular', sans-serif;
}

@mixin med {
  font-family: 'PT-Medium', sans-serif;
}

@mixin bold {
  font-family: 'PT-Bold', sans-serif;
}