* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  color: $text-color;
  @include reg;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: $text-color
}

img {
  max-width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 13px 15px;
  font-size: 15px;
  border: 2px solid $text-color;
  color: $text-gray;
  outline: none;

  &::placeholder {
    color: $text-gray;
  }
}

textarea {
  resize: none;
}

.yellow {
  color: $yellow;
}

.wrapper {
  padding-top: 82px;
}

.section {
  padding: 40px 0;
}

.container {
  max-width: 1450px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &-fluid {
    max-width: 1830px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.content {
  &-block {
    overflow: hidden;
    padding: 80px 0;
    min-height: calc(100vh - 82px);
  }

  &-grid {
    display: grid;
    grid-template-columns: 200px minmax(400px, 1190px);
    grid-gap: 30px;
  }
}

.title {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;

  &-page {
    margin-bottom: 30px;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 28px;
  text-transform: uppercase;
  color: $gray;

  & span {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background: $red;
  }
}

.button {
  display: inline-block;
  max-width: 212px;
  width: 100%;
  padding: 12px 0;
  border: 2px solid $text-color;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: $text-color;
  transition: .3s;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $yellow;
    border-color: $yellow;
  }

  &.white {
    background: white;
    color: $text-color;

    &:hover {
      background: $yellow;
      color: white;
    }
  }

  &.yellow {
    border-color: $yellow;
    background: $yellow;

    &:hover {
      border-color: $text-color;
      background: $text-color;
    }
  }

  &.file {
    text-transform: none;
    font-weight: normal;
    border-color: #E5E5E5;
    background: white;
    color: $text-color;

    &:hover {
      border-color: $yellow;
      background: $yellow;
      color: white;
    }
  }

  &.prev {
    max-width: 245px;
    width: 100%;
    padding: 11.5px 15px;
    background: white;
    color: $text-color;

    &:hover {
      background: $yellow;
      color: white;

      & svg {
        stroke: white;
      }
    }

    & svg {
      vertical-align: middle;
      margin-right: 15px;
      stroke: $text-color;
      transition: .3s;
    }
  }
}

.price {
  font-size: 18px;
  font-weight: bold;

  &.new {
    color: $red;
  }

  &.old {
    font-weight: normal;
    text-decoration: line-through;
  }
}

.tag {
  padding: 5px 15px;
  font-style: 12px;
  font-weight: bold;
  color: white;

  &.best {
    display: none;
    background: $text-color;
  }

  &.new {
    // display: none;
    background: $yellow;
  }

  &.last {
    // display: none;
    background: $red;
  }
}

.slick {
  &-slide {
    outline: none !important;
  }
}

.slider {
  margin: 0 -15px;

  &-item {
    margin: 0 15px !important;
  }

  &-small {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 57px;
    height: 57px;
    @include flex-center;
    background: white;
    cursor: pointer;

    &.prev {
      left: 0;

      & img {
        transform: rotate(180deg);
      }
    }
  }

  &-big {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 96px;
    height: 96px;
    @include flex-center;
    background: white;
    cursor: pointer;

    & img {
      width: 28px;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  &-prev,
  &-next {
    display: inline-block;
    cursor: pointer;
    outline: none !important;
  }

  &-next {
    margin-left: 25px;
  }
}

// Карточки товара
.cards {
  &-item {
    max-width: 210px;

    &__img {
      max-width: 210px;
      position: relative;
      height: 280px;
      width: 100%;
      margin-bottom: 12px;

      &-wishlist {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
      }

      &-tag {
        position: absolute;
        bottom: 15px;
        left: 0;
      }
    }

    &__buttons {
      margin-top: 10px;
      text-align: center;

      & .button {
        &.white {
          margin-bottom: 10px;

          &.short {
            display: none;
          }
        }
      }

      &-simile {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__simile {
      &-btn {
        display: block;
        margin-top: 15px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.left-menu {
  & li {
    &+li {
      margin-top: 15px;
    }

    & a {
      transition: .2s;

      &:hover {
        color: $yellow;
      }
    }
  }
}

@media(max-width: 992px) {
  .content {
    &-block {
      padding: 40px 0;
      min-height: calc(100vh - 82px);
    }

    &-grid {
      display: block;
    }
  }

  .left-menu {
    margin: 0 0 30px 0;

    & li {
      margin: 0 15px 0 0;
      padding: 18px 20px;
      font-weight: bold;
      background: $gray;

      &:first-child {
        display: none;
      }

      &+li {
        margin-top: 0;
      }
    }

    & button {
      display: none !important;
    }
  }

  .slider {
    &-small {
      display: none !important;
    }

    &-big {
      display: none !important;
    }

    &-prev,
    &-next {
      display: none !important;
    }
  }
}

@media(max-width: 768px) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 15px;

    &-page {
      margin-bottom: 15px;
    }
  }

  .section {
    padding: 15px 0;
  }
}

@media(max-width: 576px) {
  .cards {
    &-item {

      &__img {
        margin-bottom: 0;
        height: unset;

        &-wishlist {
          top: 10px;
          right: 10px;

          & svg {
            width: 20px;
          }
        }

        &-tag {
          bottom: 18px;
        }

      }

      &__info {
        &-price {
          & .price {
            font-size: unset;
          }
        }
      }

      &__buttons {
        margin-top: 10px;
        text-align: center;

        & .button {
          &.white {
            margin-bottom: 0;

            &.long {
              display: none;
            }

            &.short {
              display: block;
            }
          }
        }

        &-simile {
          display: none;
        }
      }

      &__simile {
        &-btn {
          display: block;
          margin-top: 15px;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


}