.rating-area {
	overflow: hidden;
	& svg{
		& path{
			transition: .2s;
		}
	}
}

.rating-area:not(:checked)>input {
	display: none;
}

.rating-area:not(:checked)>label {
	float: right;
	cursor: pointer;

	& svg {
		& path {
			fill: $gray;
		}
	}
}

.rating-area>input:checked~label,
.rating-area:not(:checked)>label:hover~label {
	& svg {
		& path {
			fill: $yellow;
		}
	}
}

.rating-area:not(:checked)>label:hover {
	& svg {
		& path {
			fill: $yellow;
		}
	}
}

.rating-area>label:hover~input:checked~label,
.rating-area>input:checked~label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked+label:hover {
	& svg {
		& path {
			fill: $yellow;
		}
	}
}

.rating {
	&-result {
		display: flex;

		& span {
			display: inline-block;
			width: 21px;
			height: 21px;

			&+span {
				margin-left: 3px;
			}

			& svg {
				width: inherit;
				height: inherit;

				& path {
					fill: $gray;
				}
			}
		}

		& .active {
			& svg {
				& path {
					fill: $yellow;
				}
			}
		}
	}
}