$text-color: #373737;
$text-gray: #A5A5A5;
$red: #F53030;
$gray: #F6F6F6;
$yellow: #cda4     34;
$progress-gray: #B4B4B4;
$gray_e5: #E5E5E5;
$header: 82px;

$roboto:'Roboto',sans-serif;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin zero {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}