.main-about {
	padding-bottom: 80px;

	& .container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__text {
		max-width: 575px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
}

@media(max-width: 992px) {
	.main-about {
		padding-bottom: 40px;

		& .container {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__text {
			max-width: 100%;
		}

		&__img {
			& img {
				width: 100%;
			}
		}
	}
}