.main-popular {
	&__block{
		position: relative;
	}

	&__slider {
		&-img {
			position: relative;
			max-width: 210px;
			height: 280px;
			width: 100%;
			margin-bottom: 12px;

			& img {
				width: 100%;
			}

			&__tag {
				position: absolute;
				bottom: 15px;
				left: 0;
			}

			&__wishlist{
				position: absolute;
				top: 15px;
				right: 15px;
				cursor: pointer;
				& svg{
					width: 28px;
					& path{
						&:first-child{
							fill: white;
						}
					}
				}
				&:hover{
					& svg{
						& path{
							fill: $red;
							stroke: $red;
						}
					}
				}
			}
		}
	}

}