.main-banner {
	position: relative;
	height: calc(100vh - 82px);

	&__bg {
		height: inherit;
		display: flex;
		overflow: hidden;

		& img {
			// height: 100%;
			width: 100%;
			object-fit: cover;
			height: 920px;
		}

		&-left {
			width: 50%;
			background: #000;

			& .mobile {
				display: none;
			}
		}

		&-right {
			width: 50%;
			background: $yellow;
		}
	}

	&__content {
		z-index: 2;
		position: absolute;
		@include zero;

		&-center {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			& h1 {
				max-width: 385px;
				margin-bottom: 30px;
				font-size: 45px;
				text-transform: uppercase;
			}

			& .button {
				background: transparent;
				color: $text-color;

				&:hover {
					border-color: $text-color;
					background: $text-color;
					color: white;
				}
			}
		}

		&-bottom {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			max-width: 1830px;
			width: 100%;
			padding: 0 15px;
			margin: 0 auto;

			@include flex-between;

			& a {
				font-weight: bold;
			}
		}
	}

	&__lang {
		& a {
			color: white;
		}
	}

	&__social {
		position: absolute;
		left: 50%;
		bottom: 35px;
		transform: translateX(-50%);
		display: flex;
		align-items: center;

		& li {
			&+li {
				margin-left: 40px;
			}

			& a {
				& img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.main-banner {
		&__bg {
			&-left {
				position: relative;
				width: 100%;

				&::before {
					z-index: 1;
					content: '';
					position: absolute;
					@include zero;
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30.73%, #FFFFFF 79.17%);
				}
			}

			&-right {
				display: none;
			}
		}

		&__content {
			&-center {
				top: unset;
				bottom: 30px;
				transform: translate(-50%, 0);

				& .button {
					background: $text-color;
					color: white;
				}
			}

			&-bottom {
				display: none;
			}
		}
	}
}

@media(max-width: 768px) {
	.main-banner {
		&__bg {
			&-left {
				& .desk {
					display: none;
				}

				& .mobile {
					display: block;
				}
			}
		}

		&__content {
			&-center {
				width: 100%;

				& h1 {
					font-size: 38px;
					margin: 0 auto 30px auto;
				}
			}
		}
	}
}