.main-order {
	&__block {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 30px;

		&-item {
			position: relative;
			height: 265px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			padding: 30px;
			background: $gray;

			& svg {
				position: absolute;
				top: 43%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@media(max-width: 768px) {
	.main-order {
		&__block {
			gap: 15px;

			&-item {
				height: 220px;
				padding: 15px;
			}
		}
	}
}