.main-collection {
	padding-top: 80px;

	&__block {
		position: relative;

		&:first-child {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
			gap: 30px;
		}

		&+.main-collection__block {
			margin-top: 30px;
		}

		& .button {
			background: white;
			border-color: white;
			color: $text-color;

			&:hover {
				background: $text-color;
				border-color: $text-color;
				color: white;
			}
		}
	}

	& .sell {
		position: relative;
		height: 300px;
		@include flex-center;

		& img {
			position: absolute;
			height: 100%;
			object-fit: cover;
		}

		& .mobile {
			display: none;
		}

		& .flex-block {
			z-index: 2;
			width: 100%;
			@include flex-center;

			& h2 {
				margin-bottom: 0;
				margin-right: 30px;
				color: white;
			}
		}
	}

	& .popular {
		&-slider {

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			& .flex-block {
				z-index: 2;
				position: absolute;
				text-align: center;

				& h2 {
					margin-bottom: 30px;
					color: white;
				}
			}
		}

		&-slide {
			@include flex-center;
			height: 630px;
		}
	}

	&__img {
		position: relative;
		display: flex;

		&::before {
			z-index: 1;
			content: '';
			position: absolute;
			@include zero;
			background: linear-gradient(180deg, rgba(211, 185, 44, 0.42) 0%, rgba(55, 55, 55, 0.44) 100%);
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}

		& img {
			width: 100%;
		}

		& .button {
			z-index: 2;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}

		&:hover {
			&::before {
				visibility: visible;
				opacity: 1;
			}

			& .button {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

@media(max-width: 768px) {
	.main-collection {
		padding-top: 30px;

		& .sell {
			& img {
				width: 100%;
			}

			& .mobile {
				display: block;
			}

			& .desk {
				display: none;
			}

			& .flex-block {
				flex-direction: column;

				& h2 {
					margin: 0 0 15px 0;
				}
			}
		}

		& .popular {
			&-slider {
				margin: 0 -15px;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				& .flex-block {
					z-index: 2;
					position: absolute;
					text-align: center;

					& h2 {
						margin-bottom: 15px;
					}
				}
			}

			&-slide {
				height: 320px;
				max-width: 320px;
				margin: 0 7.5px;
			}
		}
	}
}