.main-news {
	&__block {
		@include flex-between;
	}

	&__slider {
		&-item {
			& .slider-img {
				position: relative;
				margin-bottom: 10px;

				&::before {
					z-index: 1;
					content: '';
					position: absolute;
					@include zero;
					background: $text-color;
					opacity: 0;
					visibility: hidden;
					transition: .3s;
				}

				& a {
					z-index: 1;
					@include abs-center;
					font-size: 18px;
					font-weight: bold;
					text-decoration: underline;
					color: $yellow;
					opacity: 0;
					visibility: hidden;
					transition: .3s;
				}

				&:hover {
					&::before {
						visibility: visible;
						opacity: 0.6;
					}

					& a {
						visibility: visible;
						opacity: 1;
					}
				}
			}

			& h3 {
				margin-bottom: 5px;
			}
		}
	}
}

@media(max-width: 768px) {
	.main {
		&-news {
			&__slider {
				&-item {
					max-width: 320px;

					&.slider {
						&-item {
							margin: 0 7.5px !important;
						}
					}
				}
			}
		}
	}
}