.about {
	&-dev {
		&__right {
			&-block {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 80px;

				& li {
					& .item {
						&-banner {
							& img {
								width: 100%;
							}

							&.img {
								margin-bottom: 15px;
							}
						}
					}
				}
			}

			&-images {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 30px;

				& img {
					width: 100%;
				}
			}
		}
	}
}

.grid {
	width: 100%;

	&-item {
		margin-bottom: 30px;
		max-width: 350px;
		width: 100%;
		background: white;
		border: 2px solid $text-color;

		& h2 {
			padding: 15px 20px;
			margin-bottom: 0;
		}

		& img {
			width: 100%;
		}

		&__text {
			padding: 15px 20px;

			& p {
				margin-bottom: 15px;
			}

			& a {
				font-weight: bold;
			}
		}
	}
}

@media(max-width: 1200px) {
	.about {
		&-dev {
			&__right {
				&-block {
					gap: 30px;
				}
			}
		}
	}
}

@media(max-width: 992px) {
	.about {
		&-dev {
			&__right {
				&-block {
					grid-template-columns: 1fr;
				}

				&-images {
					gap: 15px;

					& .item-img {
						display: flex;
					}
				}
			}
		}
	}
}