.contacts {
	&-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 255px));
		grid-gap: 30px;
		margin-bottom: 30px;

		&__item {
			display: flex;
			flex-direction: column;
			padding: 20px;
			background: $gray;

			& h4 {
				margin-bottom: 14px;
			}

			& a {
				display: flex;
				align-items: center;

				&+a {
					margin-top: 14px;
				}

				& svg {
					margin-right: 10px;
				}
			}

			&-social {
				display: flex;
				align-items: center;

				& li {
					& a {
						margin-top: 0;

						& svg {
							margin: 0;
						}
					}

					&+li {
						margin-left: 25px;
					}
				}
			}


		}
	}

	&-map {
		border: 2px solid $text-color;
		height: 400px;
	}
}

@media(max-width: 992px) {
	.contacts {
		&-grid {
			grid-template-columns: repeat(3, minmax(200px, 1fr));
		}
	}
}

@media(max-width: 768px) {
	.contacts {
		&-grid {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}

		&-map {
			height: 230px;
		}
	}
}