.loyalty {
	& .title {
		margin-bottom: 65px;
	}

	&-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, minmax(100px, 1fr)) 70px;
		column-gap: 30px;
	}

	&-block {
		overflow: hidden;
		margin-bottom: 80px;

		&__first {
			margin-bottom: 30px;

			& li {
				font-weight: bold;
				font-size: 27px;
				text-transform: uppercase;

				&:last-child {
					text-align: right;
				}
			}
		}

		&__progressbar {
			width: 100%;
			height: 3px;
			border-radius: 1px;
			background: #F5F5F5;

			& span {
				display: block;
				height: inherit;
				background: $progress-gray;
				transition: .3s;
			}
		}

		&__bottom {
			margin-top: 30px;

			& li {
				&:last-child {
					text-align: right;
				}

				& span {
					display: block;
					max-width: 110px;
				}

				& .upper {
					font-weight: bold;
					font-size: 27px;
					text-transform: uppercase;
				}
			}
		}

		&__mobile {
			display: none;
		}
	}

	&-slider {
		&__block {
			position: relative;
		}

		&__item {
			position: relative;
			// max-width: 360px;
			height: 200px;
			margin: 0 15px;
			@include flex-center;
			display: flex !important;

			&::before {
				content: '';
				position: absolute;
				@include zero;
				background: $text-color;
				opacity: 0.6;
			}

			& a {
				z-index: 1;
			}

			&-block {
				max-width: 270px;
				text-align: center;
				color: white;

				& .title {
					margin-bottom: 10px;
				}
			}


		}

		&__prev,
		&__next {
			width: 45px;
			height: 45px;
		}
	}
}

@media(max-width: 1200px) {
	.loyalty {
		&-slider {
			&__item {
				// height: 160px;

				&-block {
					& .title {
						font-size: 22px;
					}
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.loyalty {
		& .title {
			margin-bottom: 15px;
		}

		&-block {
			margin-bottom: 30px;

			&__first {
				display: none;
			}

			&__progressbar {
				display: none
			}

			&__bottom {
				display: none;
			}

			&__mobile {
				display: flex;

				& li {
					&.title {
						margin: 0;
						color: $progress-gray;
					}

					&+li.title {
						margin-left: 30px;
					}
				}
			}
		}

		&-slider {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
			gap: 15px;

			&.slider {
				margin: 0;
			}

			&__item {
				&.slider-item {
					margin: 0 !important;
				}
			}

			&__prev,
			&__next {
				display: none;
			}
		}
	}
}