.orders {
	max-width: 1190px;
	overflow: scroll;


	& .title {
		margin-bottom: 0;
	}

	&-wrapper {
		// overflow: hidden;
	}

	&-table {
		min-width: 1190px;

		& li {
			&:first-child {
				& ul {
					& li {
						display: flex;
						align-items: center;
						padding-top: 0;

						&:last-child {
							justify-content: flex-end;
						}
					}
				}
			}

			& ul {
				display: grid;
				grid-template-columns: repeat(6, 165px);
				grid-gap: 40px;

				& li {
					padding: 30px 0;

					&:last-child {
						text-align: right;
						font-weight: bold;
						font-size: 18px;
					}

					& ul {
						border-top: unset;
						display: block;

						& li {
							padding: 0;

							&:first-child {
								font-weight: normal;
								font-size: unset;
							}

							&:last-child {
								text-align-last: left;
								font-weight: normal;
								font-size: unset;
							}
						}
					}
				}
			}

			&+li {
				& ul {
					border-top: 1px solid $text-color;
				}
			}
		}
	}
}

@media(max-width: 992px) {
	.orders {
		&-table {
			min-width: 1050px;

			& li {
				& ul {
					grid-template-columns: repeat(6, 150px);
					gap: 30px;
				}
			}
		}
	}
}