.reviews {
	&-block {
		&__item {
			display: grid;
			grid-template-columns: 210px 1fr;
			column-gap: 70px;
			padding: 30px 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			&+.reviews-block__item {
				border-top: 1px solid $text-color;
			}

			&-block {
				& .product-page__right-stars {
					margin-bottom: 10px;

					& .rating-result__product {
						align-items: flex-end;

						& .cards-item {
							display: none;
						}
					}
				}

				&__text {
					margin-bottom: 30px;
				}

				&__buttons {
					display: flex;

					& a {
						font-weight: bold;

						& svg {
							display: none;
						}

						&+a {
							margin-left: 30px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.reviews {
		&-block {
			&__item {
				grid-template-columns: 1fr;
				padding: 30px 0 0 0;

				&+.reviews-block__item {
					border-top: unset;
				}

				& .cards-item {
					display: none;
				}

				&-block {
					& .product-page__right-stars {
						margin-bottom: 10px;

						& .rating-result__product {

							& .cards-item {
								display: block;
								margin-right: 30px;

								&__info {
									margin-top: 3px;
									font-weight: bold;
								}
							}
						}
					}

					&__text {
						padding-bottom: 15px;
						margin: 0;
					}

					&__buttons {
						background: $gray_e5;
						margin: 0 -15px;
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: 50px;

						& a {
							@include flex-center;
							font-weight: normal;

							& svg {
								display: block;
								margin-right: 15px;
							}

							&+a {
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}