.subscr {
	&-block {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
		gap: 30px;

		&__item {
			height: 320px;
			@include flex-center;
			text-align: center;
			color: white;

			&-block {
				max-width: 270px;

				& .title {
					margin-bottom: 30px;
				}

				& .button {
					background: transparent;
					border-color: white;

					&:hover {
						background: $yellow;
						border-color: $yellow;
					}
				}
			}
		}
	}
}