.vacancies {
	&-block {
		&__item {
			padding: 30px;
			border: 2px solid $text-color;

			&+.vacancies-block__item {
				margin-top: 30px;
			}

			&-container {
				display: grid;
				grid-template-columns: minmax(300px, 550px) minmax(300px, 420px);
				grid-gap: 80px;
				margin-bottom: 60px;
			}

			& .title {
				max-width: 590px;
				margin: 0;
				margin-bottom: 50px;
			}

			& .item {
				&-header {
					&__block {
						& p {
							font-size: 18px;
							font-weight: bold;

							&+p {
								margin-top: 80px;
							}
						}
					}
				}

				&-title {
					cursor: pointer;
				}

				&-block {
					display: none;
				}
			}

			&-block {
				&__box+&__box {
					margin-top: 30px;
				}

				&__header {
					display: flex;
					align-items: center;
					margin-bottom: 15px;

					& h4 {
						margin-right: 30px;
						font-size: 18px;
					}

					&-block {
						display: flex;
						align-items: center;

						& li {
							display: flex;
							align-items: center;

							&+li {
								margin-left: 30px;
							}

							& svg {
								margin-right: 10px;
							}
						}
					}
				}

				&__body {
					& p {
						& .yellow {
							font-size: 18px;
							font-weight: bold;
						}
					}

					& ul {
						& li {
							display: flex;

							&::before {
								content: "—";
								position: relative;
							}

							& p {
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
	}

	& .form {
		& .title {
			margin-top: 60px;
			max-width: unset;
			margin-bottom: 15px;
		}

		& form {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 60px;
			grid-row-gap: 30px;

			& .control {
				& label {
					display: block;
					margin-bottom: 15px;
					font-weight: bold;
				}

				& .button {
					max-width: 100%;
				}

				&-confirm {
					display: flex;

					& label {
						margin: 0;
						font-weight: normal;
						cursor: pointer;
					}

					& input[type=checkbox] {
						position: absolute;
						z-index: -1;
						width: unset;
						margin: 0;
						opacity: 0;
					}

					& input[type=checkbox] {
						&+.custom-checkbox {
							margin-right: 20px;

							&::before {
								content: '';
								display: inline-block;
								width: 20px;
								height: 20px;
								border: 2px solid $text-color;
							}
						}

						&:checked {
							&+.custom-checkbox {
								&::before {
									background: url('../img/icons/correct.svg') no-repeat;
									background-size: 15px;
									background-position: center;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.vacancies {
		&-block {
			&__item {
				&-container {
					grid-template-columns: 1fr;
					gap: 40px;
				}
			}
		}

		& .form {
			& form {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media(max-width: 768px) {
	.vacancies {
		&-block {
			&__item {
				padding: 20px;

				& .title {
					margin-bottom: 30px;
				}

				& .item {
					&-header {
						&__block {
							& p {
								font-size: unset;
								&+p {
									margin-top: 15px;
								}
							}
						}
					}
				}

				&-block {
					&__header {
						flex-direction: column;
						align-items: start;

						& h4 {
							margin-bottom: 15px;
						}

						&-block {
							align-items: start;
							flex-direction: column;

							& li {
								&+li {
									margin: 15px 0 0 0;
								}
							}
						}
					}
				}
			}
		}
	}
}