.product {
	&-page {
		&__content {
			display: grid;
			grid-template-columns: minmax(600px, 1060px) 1fr;
			column-gap: 30px;
		}

		&__left {
			&-img {
				display: grid;
				grid-template-columns: repeat(2, 50%);

				& img {
					width: 100%;
				}
			}

			& .main-popular {
				& .container {
					padding: 0;
				}

				& .slider {
					margin: 0;
				}
			}

			&-reviews {
				padding-bottom: 0;

				& .container {
					padding: 0;
				}

				& .title {
					margin-bottom: 0;
				}

				&__form {
					margin-bottom: 30px;

					& form {
						@include flex-between;
						flex-wrap: wrap;

						& .rating-area {
							& label {
								margin-right: 5px;
							}
						}

						& .control {
							margin-top: 15px;

							&:first-child {
								max-width: 600px;
								width: 100%;
							}

							&:last-child {
								max-width: 212px;
								width: 100%;
							}
						}
					}
				}

				&__item {
					&+.product-page__left-reviews__item {
						margin-top: 30px;
					}

					& .review-item {
						display: flex;
						align-items: center;
						margin-bottom: 5px;

						& p {
							margin-right: 15px;
							font-size: 18px;
							font-weight: bold;
							text-decoration: none;
						}
					}
				}
			}
		}

		&__right {
			grid-row: span 2;

			&-header {
				border-bottom: 2px solid $gray;
			}

			&-stars {
				margin-bottom: 15px;
				display: flex;
				align-items: center;

				& .rating-result__product {
					display: flex;
					align-items: center;
				}

				& .rating-result__star {
					& span {
						display: flex;
					}

					& .full {
						& svg {
							fill: $gray;
						}
					}

					& .half {
						display: none;
					}

					&+.rating-result__star {
						margin-left: 5px;
					}
				}

				& .count {
					margin-left: 15px;
					color: $text-gray;
				}
			}

			& .price-block {
				margin-bottom: 30px;
				display: flex;
				align-items: center;

				& p {
					margin-right: 30px;
					font-size: 18px;
					font-weight: bold;
				}
			}

			&-body {
				margin-top: 30px;

				& .table-size {
					margin-bottom: 15px;
					display: block;
					text-decoration: underline;
					color: $text-gray;
				}

				& form {
					margin-bottom: 30px;
				}

				&__size {
					margin-bottom: 30px;
					display: flex;
					align-items: center;

					& li {

						&:not(:checked)>input {
							display: none;
						}

						& label {
							@include flex-center;
							padding: 10px;
							min-width: 37px;
							height: 37px;
							border: 1px solid $text-color;
							cursor: pointer;
							text-transform: uppercase;
							transition: .3s;
						}

						& input:checked~label,
						&:not(:checked)>label:hover {
							background: $gray;
						}

						&+li {
							margin-left: 15px;
						}
					}
				}

				& .color-product {
					color: $text-gray;
					margin-bottom: 15px;

					& span {
						font-weight: bold;
						color: $text-color;
					}

					&__block {
						margin-bottom: 30px;
						display: flex;

						& li {

							&+li {
								margin-left: 15px;
							}

							&:not(:checked)>input {
								display: none;
							}

							& label {
								position: relative;
								width: 55px;
								height: 72px !important;
								display: flex;
								align-items: center;
								justify-content: center;
								border: 2px solid transparent;
								cursor: pointer;
								overflow: hidden;

								& img {
									width: 100%;
									height: 74px;
									object-fit: cover;
								}
							}

							& input:checked~label {
								border-color: $yellow;
							}
						}
					}
				}

				& .button-block {
					display: flex;
					align-items: center;

					& .button {
						max-width: 290px;
						width: 100%;
						margin-right: 15px;
						background: $yellow;
						border-color: $yellow;

						&:hover {
							background: $text-color;
							border-color: $text-color;
						}
					}

					& .wishlist-btn {
						display: flex;

						& svg {
							fill: $text-color;
							stroke: $text-color;

							& path {
								&:first-child {
									fill: transparent;
								}
							}
						}

						&.active {
							& svg {
								fill: $red;
								stroke: $red;

								& path {
									&:first-child {
										fill: $red;
									}
								}
							}
						}
					}
				}

				& .product-desc {
					&__block {
						&-item {
							&+.product-desc__block-item {
								margin-top: 5px;
							}

							& h4 {
								font-size: 15px;
								font-weight: normal;
								color: $text-gray;
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1366px) {
	.product {
		&-page {
			&__left {
				&-reviews {
					&__form {
						& form {
							& .control {
								&:first-child {
									max-width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 992px) {
	.product {
		&-page {
			&__content {
				grid-template-columns: minmax(300px, 992px);
				gap: 30px;
			}

			&__right {
				grid-row: unset;
			}

			& .section {
				padding: 0;
			}

			&__left {
				& .slider {
					margin: 0 -15px 0 0 !important;

					&-item {
						max-width: 165px;

						&+.slider-item {
							margin: 0 0 0 10px !important;
						}
					}
				}

				& .main-popular {
					margin-bottom: 30px;
				}
			}


		}
	}
}

@media(max-width: 576px) {
	.product {
		&-page {
			&__left-reviews {
				&__form {
					margin-bottom: 0;

					& form {
						position: relative;

						& .control {

							&:last-child {
								max-width: 100%;

								& .button {
									max-width: inherit;
								}
							}

							&:nth-child(2) {
								position: absolute;
								top: -30px;
								right: 0;
								margin: 0;
							}
						}
					}
				}

				&__item {
					padding: 15px 0;

					&+.product-page__left-reviews__item {
						margin-top: 0;
						border-top: 2px solid $text-color;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}